* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main--Main {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.img--main--Main {
  width: 30%;
  height: 40vh;
  padding: 10px;
}
